<!-- Se extiende la hello.html desde la pagina base.html -->
{% extends 'base.html' %}

<!-- Se importa el macros html para realizar la renderizacion de los todos -->
{% import 'macros.html' as macros  %}

<!-- Se utiliza el metodo super para traer la plantilla padre a este archivo-->
{% block title %} 
    
    {{ super() }}
    Bienvenido 

{% endblock  %}

<!-- Utilizamos un bloque para renderizar nuestros valores que tenemos en la lista de "to dos" utilizando estructuras de control-->
{% block content %}
    {% if user_ip %}
        <p>Hello world Flask, tu ip es {{ user_ip }}</p>
    {% else %}
        <a href="{{ url_for ('index')}}" >Ir a inicio </a>
    {% endif %}

    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo) }}
        {%endfor %}
    </ul>
{% endblock  %}