<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="height: 50px; margin-top: -5px;" href="{{ url_for('index') }}">
                <img class="brand"
                     src="{{ url_for('static', filename='images/platzi.png') }}"
                     alt="Platzi logo">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="https://github.com/ccolunga" target="_blank">Github</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                {%else%}
                    <li><a href="{{ url_for('auth.signup') }}">Crear cuenta</a></li>
                    
                    <li><a href="{{ url_for('auth.login') }}">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>